[Desktop Entry]
Version=1.0
Name=helleniccoin Core
Comment=helleniccoin P2P Cryptocurrency
Comment[de]=Verbinde mit dem helleniccoin peer-to-peer Netzwerk
Comment[fr]=helleniccoin, monnaie virtuelle cryptographique pair à pair
Comment[tr]=helleniccoin, eşten eşe kriptografik sanal para birimi
Exec=helleniccoin-qt %u
Terminal=false
Type=Application
Icon=helleniccoin128
MimeType=x-scheme-handler/helleniccoin;
Categories=Office;Finance;
StartupWMClass=helleniccoin-qt
